body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

th {
    background-color: #ffd700;
    color: #000;
}
.container-1 {
    padding: 25px;
    background-color: #ffd700;
    font-size: 100px;
}

.search-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #b0b0b0;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#addRowBtn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #ffd700;
    color: #000;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

#addRowBtn:hover {
    transform: scale(1.1);
    background-color: #ffc107;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-circle:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
